<!--
 - Created by bswif on 2/14/2021.
 -->

<template>
    <lightning-card class={cardClass}>
        <div slot="footer">
            <span class="slds-align_absolute-center">{theImg.theDesc}</span>
        </div>
        <img src={theImg.theUrl} class={imgClass} onclick={selectImg}>
    </lightning-card>
</template>