/**
 * Created by bswif on 2/14/2021.
 */
img{
    cursor: pointer;
}

.hStyle{
    display:inline-block;
    vertical-align: top;
    margin: 15px;
}

.vStyle{
    width:100%;
}

.imgList{
    max-height: 250px;
    max-width: 100%;
    top: 0px;
    left: 0px;
}

.imgSingle{
    max-height: 500px;
    max-width: 500px;
    top: 0px;
    left: 0px;
}