<!--
 - Created by bswif on 2/15/2021.
 -->

<!-- Recipe Img Details List -->
<template>
    <template for:each={liveImgs} for:item="img">
        <c-recipe-img-details img-details={img} key={img.theIndex} onupdatedimg={handleUpdate}></c-recipe-img-details>
    </template>
    <lightning-button class="slds-align_absolute-center" variant="brand" onclick={handleSubmit} label="Next" title="Next"></lightning-button>
</template>