<!--
 - Created by bswif on 2/15/2021.
 -->

<!-- Recipe Create -->
<template>
    <lightning-card if:true={showRecForm}>
        <h3 slot="title">
            <lightning-icon icon-name="utility:new_direct_message" size="small"></lightning-icon>
            Create a Recipe
        </h3>
        <div slot="footer" class="footerDiv">
            After saving you'll be able to upload any helpful images for this recipe.
        </div>
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12"
                                   small-device-size="12"
                                   medium-device-size="12"
                                   large-device-size="6"
                                    padding="around-small">
                <lightning-input label="Copy from URL" type="url" onchange={handleScrapeUrlChange}></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="12"
                                   small-device-size="12"
                                   medium-device-size="12"
                                   large-device-size="6"
                                   padding="around-small">
                <lightning-button label="Copy" title="Copy" variant="brand" onclick={handleScrape} disabled={disableScrape}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-record-form
                if:true={showRecCreate}
                object-api-name="Recipe__c"
                fields={fields}
                onsuccess={handleRecipeSubmit}
                oncancel={handleCancel}>
        </lightning-record-form>
        <lightning-record-edit-form
            if:true={scrapeSuccess}
            object-api-name="Recipe__c"
            onsuccess={handleRecipeSubmit}
            >
            <lightning-input-field field-name="Name" value={scrapedRecipe.Name}></lightning-input-field>
            <lightning-input-field field-name="Ingredients__c" value={scrapedRecipe.Ingredients__c}></lightning-input-field>
            <lightning-input-field field-name="Recipe_Steps__c" value={scrapedRecipe.Recipe_Steps__c}></lightning-input-field>
            <lightning-button type="submit"
                              name="submit"
                              label="Submit">
            </lightning-button>
        </lightning-record-edit-form>
    </lightning-card>

    <lightning-card if:true={showImgUpload}>
        <h3 slot="title">
            <lightning-icon icon-name="utility:image" size="small"></lightning-icon>
            Upload Images
        </h3>
        <div slot="footer" class="footerDiv">
            <p>Please try to upload images that are squares or close to it and less than 100KB in size.</p>
            <p>Only .pngs and .jpgs are accepted.</p>
            <p>After uploading the images, you be able to add helpful details, including captions.</p>
        </div>
        <lightning-file-upload
                label="Attach Images"
                name="fileUploader"
                accept={acceptedFormats}
                record-id={recordId}
                onuploadfinished={handleFileSubmit}
                multiple>
        </lightning-file-upload>
    </lightning-card>

    <lightning-card if:true={showImgDetails}>
        <h3 slot="title">
            <lightning-icon icon-name="utility:image" size="small"></lightning-icon>
            Set Image Details
        </h3>
        <c-recipe-img-details-list src-imgs={imgFiles} onupdatedimglist={handleFileDetailsSubmit}></c-recipe-img-details-list>
        <div slot="footer" class="footerDiv">
            <p>Add details about these images. They will display in order by Name</p>
        </div>
    </lightning-card>

    <lightning-card if:true={showFinal} title={ctmLabel.doneLabel}>
        <p class="slds-p-horizontal_small">{finishMessage}</p>
        <p slot="footer" class="footerDiv">Placeholder footer</p>
        <lightning-layout multiple-rows>
            <lightning-layout-item size="6"
                                   small-device-size="6"
                                   medium-device-size="6" 
                                   large-device-size="6"
                                   padding="around-small">
                <lightning-button class="slds-align_absolute-center" variant="brand" onclick={handleCancel} label="Done" title="Done"></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="6"
                                   small-device-size="6"
                                   medium-device-size="6"
                                   large-device-size="6"
                                   padding="around-small">
                <lightning-button class="slds-align_absolute-center" variant="brand" onclick={handleReload} label="Add More" title="Add More"></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>