/**
 * Created by bswif on 2/14/2021.
 */

.hStyle{
    max-height:350px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.vStyle{
    max-width:350px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}