<!--
 - Created by bswif on 2/14/2021.
 -->

<!-- Recipe Imgs -->
<template>
    <div class={divClass} >
        <template for:each={theImgs} for:item="img" >
                <c-recipe-img-tile the-img={img} is-vert={isVert} key={img.theUrl} onselectedimg={selectImg}></c-recipe-img-tile>
        </template>
    </div>
</template>