<!--
 - Created by bswif on 2/15/2021.
 -->
<!--//todo add onchange handler for attributes-->
<!-- Recipe Img Details -->
<template>
    <lightning-layout multiple-rows>
        <lightning-layout-item size="12"
                               small-device-size="12"
                               medium-device-size="3"
                               large-device-size="3"
                               padding="around-small">
            <img src={imgDetails.theUrl} />
        </lightning-layout-item>
        <lightning-layout-item size="12"
                               small-device-size="12"
                               medium-device-size="12"
                               large-device-size="9"
                               padding="around-small">
            <lightning-layout >
                <lightning-layout-item size="6"
                                       small-device-size="6"
                                       medium-device-size="6"
                                       large-device-size="6"
                                       padding="around-small">
                    <lightning-input type="text" label="Name" name="Title" value={imgDetails.Title} onchange={updateDetails} ></lightning-input>
                </lightning-layout-item>
                <lightning-layout-item size="6"
                                       small-device-size="6"
                                       medium-device-size="6"
                                       large-device-size="6"
                                       padding="around-small">
                    <lightning-input type="text" label="Description" name="Description" onchange={updateDetails} ></lightning-input>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-layout-item>
    </lightning-layout>
</template>