<!--
 - Created by bswif on 2/13/2021.
 -->

<!-- Recipe View -->
<template>
    <div if:false={recipeLoaded}>
        <lightning-spinner style="position: fixed;" alternative-text="Loading..."></lightning-spinner>
        <div style="position: fixed;" class="slds-backdrop slds-backdrop_open"></div>
    </div>
    <lightning-card if:true={recipeLoaded}>
        <lightning-layout multiple-rows>
           <lightning-layout-item size="12"
                                    small-device-size="12"
                                    medium-device-size="12"
                                    padding="around-small">
               <div class="slds-text-heading_large">{theRecipe.Name}</div>
             </lightning-layout-item>
            <lightning-layout-item size="12"
                                   small-device-size="12"
                                   medium-device-size="12"
                                   padding="around-small"
                                   if:true={imgSrcs}>
                <c-recipe-img-list img-srcs={imgSrcs} is-vert="false" onselectedimg={togglePhoto}></c-recipe-img-list>
            </lightning-layout-item>
            <lightning-layout-item size="12"
                                    small-device-size="12"
                                    medium-device-size="12"
                                    padding="around-small">
                <div class="slds-text-heading_medium">Steps</div>
            </lightning-layout-item>
            <lightning-layout-item size="12"
                                    small-device-size="12"
                                    medium-device-size="12"
                                    padding="around-small">
            <lightning-formatted-rich-text value={theRecipe.Recipe_Steps__c}></lightning-formatted-rich-text>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
    <footer class="slds-utility-bar_container">
        <ul class="slds-utility-bar">
            <li class="slds-utility-bar__item">
                <lightning-button
                        variant="Base"
                        label="Ingredients"
                        title="Ingredients"
                        onclick={toggleIngredients}
                        icon-name="utility:list"
                        class="slds-p-around_xxx-small">
                </lightning-button>
            </li>
            <li class="slds-utility-bar__item" if:true={imgSrcs}>
                <lightning-button
                        variant="Base"
                        label="Photos"
                        title="Photos"
                        onclick={togglePhotoList}
                        icon-name="utility:image"
                        class="slds-p-around_xxx-small">
                </lightning-button>
            </li>
        </ul>
    </footer>

    <!-- modals -->
    <div class="slds-backdrop slds-backdrop_open" if:true={modalPop}></div>

    <section role="dialog" if:true={popIngredients} tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container" if:true={popIngredients}>
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={toggleIngredients}>
                    <lightning-icon variant="inverse" icon-name="utility:close" alternative-text="Close" title="Close"></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Ingredients</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <lightning-formatted-rich-text value={theRecipe.Ingredients__c}></lightning-formatted-rich-text>
            </div>
        </div>
    </section>

    <section role="dialog" if:true={popPhotoList} tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container" if:true={popPhotoList}>
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={togglePhotoList}>
                    <lightning-icon variant="inverse" icon-name="utility:close" alternative-text="Close" title="Close"></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">Photos</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                <c-recipe-img-list img-srcs={imgSrcs} is-vert=true onselectedimg={togglePhoto}></c-recipe-img-list>
            </div>
        </div>
    </section>

    <section role="dialog" if:true={popPhoto} tabindex="-1" aria-labelledby="modal-heading-03" aria-modal="true" aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container" if:true={popPhoto}>
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={togglePhoto}>
                    <lightning-icon variant="inverse" icon-name="utility:close" alternative-text="Close" title="Close"></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                <c-recipe-img-tile is-single="true" the-img={curImg} is-vert="true"></c-recipe-img-tile>
            </div>
        </div>
    </section>
</template>