<!--
 - Created by bswif on 2/15/2021.
 -->

<!-- Recipe Dock -->
<template>
    <div class="slds-backdrop slds-backdrop_open" if:true={createRecipe}></div>
    <section role="dialog" if:true={createRecipe} tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container" if:true={createRecipe}>
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={toggleCreate}>
                    <lightning-icon variant="inverse" icon-name="utility:close" alternative-text="Close" title="Close"></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">New Recipe</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <c-recipe-create oncancel={toggleCreate}></c-recipe-create>

            </div>
        </div>
    </section>


    <footer class="slds-utility-bar_container">
        <ul class="slds-utility-bar">
            <li class="slds-utility-bar__item">
                <lightning-button
                        variant="Base"
                        label="Create Recipe"
                        title="Create Recipe"
                        onclick={toggleCreate}
                        icon-name="utility:new_direct_message"
                        class="slds-p-around_xxx-small">
                </lightning-button>
            </li>

        </ul>
    </footer>
</template>